<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="jumbotron">
        <h1 class="display-3">Cuentas</h1>
        <p class="lead">Sistema de monitoreo y alarma de cuentas del hogar</p>
        <hr class="my-4">
        <p>Mediante alarmas y una fácil visualizción, nunca más volverá a pagar facturas con mora. Además podrás generar reportes de gastos mensuales, hacer proyecciones de gastos, sumar usuarios a la administración, y mucho más.</p>
        <p class="lead">
          <a class="btn btn-primary" href="#!" role="button">Empezar</a>
        </p>
      </div>
    </div>
  </div>
</div>

      

