<% @homes.each do |home| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <%= home.name %>
        <small>
          Dirección: <%= home.address %> 
        </small>
        <% if home.user == current_user %>
          <div class="home-actions">
            <%= link_to "Editar", edit_home_path(home), class: "btn btn-xs btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>