<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
    aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Cuentas', root_path, class: "navbar-brand" %>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <!-- <li class="nav-item active"> </li> -->
      <!--
      <li class="nav-item">
        <a class="nav-link" href="#!">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#!">Disabled</a>
      </li>
      -->
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <% if current_user %>
        <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "nav-link" %>
        <%= link_to 'Cuenta', edit_user_registration_path(current_user), emethod: :delete, class: "nav-link" %>
      <% else %>
        <%= link_to 'Iniciar sesión', new_user_session_path, class: "nav-link" %>
      <% end %>
    </ul>
  </div>
</nav>
<br />
